<!--<style type='text/css'>-->
    <!--.connection-{{id}} {-->
        <!--border-right: 3px solid {{color}};-->
    <!--}-->

    <!--.connection-{{id}} .badge {-->
        <!--background: {{color}};-->
    <!--}-->

    <!--.connection-{{id}} .message {-->
        <!--border-left: 6px solid {{color}};-->
    <!--}-->

    <!--.main .connection-{{id}} {-->
        <!--background: {{color50}};-->
        <!--border-left: 3px solid {{color}};-->
        <!--border-right: 1px solid {{color}};-->
    <!--}-->

    <!--.main .connection-{{id}} .glyphicon-btn:hover {-->
        <!--text-shadow: 0px 0px 10px {{color10}};-->
    <!--}-->

    <!--.nav .connection-{{id}} {-->
        <!--background: {{color40}};-->
    <!--}-->

    <!--.connection-{{id}} {-->
        <!--background: #eee699;-->
        <!--border-right: 5px solid {{color}};-->
    <!--}-->

    <!--.connection-{{id}} a:focus, .connection-{{id}} a:hover {-->
        <!--background: {{color50}}!important;-->
    <!--}-->
<!--</style>-->

<style type="text/css">
    .connection-{{id}} {
        border-right: 3px solid {{color}};
    }

    .connection-{{id}} .badge {
        background: {{color}};
    }

    .connection-{{id}} .message {
        border-left: 6px solid {{color}};
    }

    .main .connection-{{id}} {
        background: {{color50}};
        border-left: 3px solid {{color}};
        border-right: 1px solid {{color}};
    }

    .main .connection-{{id}} .glyphicon-btn:hover {
        text-shadow: 0px 0px 10px {{color10}};
    }

    .nav .connection-{{id}} {
        background: {{color40}};
    }

    .connection-{{id}}.active {
        background: {{color30}};
        border-right: 5px solid {{color}};
    }

    .connection-{{id}} a:focus, .connection-{{id}} a:hover {
        background: {{color50}} !important;

</style>