<header class="header bg-blue gradient">
    <div class="header-wrapper">
        <div class="row">
            <div class="col-xs-8 col-sm-10">
                <h1 class="app-name"><span class="glyphicon glyphicon-search"></span> MQTT<span>lense</span></h1>
            </div>
            <div class="col-xs-4 col-sm-2">
                <h1 class="config-icon pull-right config extra-margin"><a href="#"><span
                        class="glyphicon glyphicon-cog"></span></a></h1>

                <h1 class="config-icon config toggle-menu pull-right separator fixed-width" data-target=".left-sidebar">
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                    <span class="badge">19</span>
                </h1>
            </div>
        </div>
    </div>
</header>