<div class="row {{succes}}">
    <div class="col-xs-11">
        Connected with <span class="{{connectionID}} badge">{{connectionURL}}</span>
    </div>
    <div class="col-xs-1">
        <span class="glyphicon {{icon}}"></span>
    </div>
</div>