<div class="row connection connection-{{id}} sub last">
    <div class="col-xs-6 col-sm-6">
        <h3>{{name}}</h3>
    </div>
    <div class="col-xs-6 col-sm-6 options">
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
        <span class="glyphicon glyphicon-cog pull-right"></span>
        <span class="pull-right"><span class="badge">Messages: 0/0</span></span>
        <span class="pull-right"><span class="badge" data-qos="{{qos}}">QoS: {{qos}}</span></span>
    </div>
</div>