<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Demo code-pretty</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <link rel="import" href="code-pretty.html">

</head>
<body unresolved>


<code-pretty lang="json" numbering="true">
  {
  "id": "387",
  "name": "greenhouse",
  "description": "The sensorbox of the greenhouse on my terrace",
  "datastreams": [
  {
  "id": "9347",
  "name": "temperature",
  "description": "Temperature"
  },
  {
  "id": "9348",
  "name": "Humidity",
  "description": "Humidity"
  }
  ]
  }
</code-pretty>
</body>
</html>