<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>mqtt connection demo</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <!--<link rel="stylesheet" href="../../bower_components/roboto-fontface/roboto-fontface.css">-->
  <link rel="import" href="../../bower_components/font-roboto/roboto.html">
  <link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
  <link rel="import" href="../../components/mqtt-connection-ui/mqtt-connection-ui.html">
  <link rel="import" href="mqtt-connection.html">
  <style>
    body {
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    }
  </style>
</head>
<body fullbleed unresolved>

<polymer-element name="demo-tag">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
      paper-toast[status="ok"] {
        background: lightgreen;
        color: #000000;
      }
    </style>


    <h1>Create a connection</h1>
    Broker URL: <input value="{{hostname}}" a>
    <button on-tap="{{connect}}" >create connection</button>
    <button on-tap="{{createConnection2}}" >create connection2</button>
    <button on-tap="{{disconnect}}" disabled?="{{!connected}}">disconnect</button>
    <button on-tap="{{reconnect}}" disabled?="{{connected}}">reconnect</button>

    <span>Connected: {{connected}}</span>

    <hr/>
    <h1>Create subscription</h1>
    Topic: <input value="{{subscriptionTopic}}">
    <button on-tap="{{createSubscription}}" disabled?="{{!connected}}">create Subscription</button>
    <button on-tap="{{removeSubscription}}" disabled?="{{!connected}}">remove Subscription</button>




    <hr/>
    <h1>Publish</h1>
    Payload: <input value="{{messagePayload}}">
    Topic: <input value="{{messageTopic}}">
    <button on-tap="{{sendMessage}}" disabled?="{{!connected}}">Send message</button>

    <hr/>
    <h1>Subscriptions</h1>

    <div id="content">
       <h2>content</h2>
    </div>
    <div id="extra">
      <h2>extra</h2>
    </div>


    <paper-toast id="toast" status="{{toaststatus}}"></paper-toast>
  </template>



  <script>
    Polymer('demo-tag', {

      toaststatus: '',
      test1: 'test1',
      test2: 'test2',

      observe: {
        'mqttCon.connected': 'connectionChanged'
      },

      created: function () {

      },

      ready: function () {
        this.connected = false;
        //ws:broker.mqttdashboard.com:8000
        this.defaultServer = "ws://test.mosquitto.org:8080/mqtt";
//        this.defaultServer = "ws:broker.mqttdashboard.com:8000";
        this.hostname =  this.defaultServer;
        this.messagePayload = "Hello World";
        this.messageTopic = "presence";
        this.subscriptionTopic = this.messageTopic;

        this.mqttCon = new MqttConnection();
        this.$.content.appendChild(this.mqttCon);

        this.toast = this.$.toast;
        this.test1 = this.test2;

        var self = this;

        document.addEventListener("toast", function (e, detail, sender) {
          self.toast.text = e.detail.text;
          if (e.detail.status) {
            self.toaststatus  = e.detail.status;
          } else {
            self.toaststatus  = "";
          }
          self.toast.show();
        });
      },

      sendMessage: function () {
        console.log("sendMessage");
        this.mqttCon.mqttPublish(this.messageTopic, this.messagePayload);
      },
      createSubscription: function () {
        this.mqttCon.subscribe(this.subscriptionTopic);
//          this.mqttCon.subscribe(this.subscriptionTopic, null, this.$.extra);
      },

      removeSubscription: function () {
        this.mqttCon.unsubscribe(this.subscriptionTopic);
      },

      connect: function () {
        this.mqttCon.hostname = this.hostname;
        this.mqttCon.hostPort = 8080;
        this.mqttCon.connect();
      },

      disconnect: function () {
        this.mqttCon.disconnect();
      },

      reconnect: function () {
        this.mqttCon.reconnect();
      },

      createConnection: function () {

      },

      createConnection2: function () {

       var self = this;
       var values = {
         "ID":"",
         "connectionName":"eclipse",
         "connectionColor":"#ff7d69",
         "hostname":"ws://test.mosquitto.org/mqtt",
         "hostPort":8080,
         "clientID":"7ILDuLmcWUyTiLJvDhvMg7XZxyPh0PaM",
         "cleanSession":true,
         "useSSL":true,
         "keepAlive":120,
         "username":"Sandro",
         "password":"test",
         "passwordHashFunction":true,
         "lastWillTopic":"topic",
         "lastWillMessage":"message",
         "lastWillQoS":0,
         "lastWillRetained":true,
         "autoConnect":true};


        var newConnectionUI = new MqttConnectionUi();

//        newConnectionUI.addElementListener('domReady', function () {
//          newConnectionUI.load(values);
//        });
        newConnectionUI.connectionName = "test";
        newConnectionUI.load(values)


        newConnectionUI.addEventListener("newMqttConnection", function(e) {
          console.log(e.detail);
          var conValues = e.detail;
          self.mqttCon.createClient();
          self.mqttCon.hostname =  conValues.hostname+":"+conValues.hostPort;

          self.connected = true;

        });
       this.shadowRoot.appendChild(newConnectionUI);

       newConnectionUI.toggle();
      },


      /**
       * ##### WATCHES ####
       */

      connectionChanged: function (oldValue, newValue){
        console.log("Old: %s, new: %s", oldValue, newValue);
        console.log(arguments);
        this.connected = newValue;
      }
    });
  </script>
</polymer-element>

<demo-tag></demo-tag>




<!--<script>-->
<!--window.addEventListener('polymer-ready', function (e) {-->
<!--//    var mqttCon = new MqttConnection();-->
<!--//        console.log(mqttCon);-->
<!--//    mqttCon.createClient("ws:localhost:9371");-->
<!--//    mqttCon.subscribe('presence');-->
<!--//    mqttCon.publish('presence', 'Hello mqtt');-->

<!--});-->
<!--</script>-->

</body>
</html>