<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>mqtt connection demo</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <!--<link rel="stylesheet" href="../../bower_components/roboto-fontface/roboto-fontface.css">-->
  <link rel="import" href="../../bower_components/font-roboto/roboto.html">
  <link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
  <link rel="import" href="mqtt-connection.html">
  <style>
    body {
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    }
  </style>
</head>
<body fullbleed unresolved>

<polymer-element name="demo-tag">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
      paper-toast[status="ok"] {
        background: lightgreen;
        color: #000000;
      }
    </style>
    <h1>Create a connection</h1>
    Broker URL: <input value="{{brokerUrl}}" a>
    <button on-tap="{{createConnection}}" >create connection</button>

    <span>Connected: {{connected}}</span>

    <hr/>
    <h1>Create subscription</h1>
    Topic: <input value="{{subscriptionTopic}}">
    <button on-tap="{{createSubscription}}" disabled?="{{!connected}}">create Subscription</button>


    <hr/>
    <h1>Publish</h1>
    Payload: <input value="{{messagePayload}}">
    Topic: <input value="{{messageTopic}}">
    <button on-tap="{{sendMessage}}" disabled?="{{!connected}}">Send message</button>

    <hr/>
    <h1>Subscriptions</h1>

    <div id="content">
       <h2>content</h2>
    </div>
    <div id="extra">
      <h2>extra</h2>
    </div>


    <paper-toast id="toast" status="{{toaststatus}}"></paper-toast>
  </template>



  <script>
    Polymer('demo-tag', {

      toaststatus: '',

          create: function () {

      },

      ready: function () {
        this.connected = false;
        this.defaultServer = "ws:broker.mqttdashboard.com:8000";
        this.brokerUrl =  this.defaultServer;
        this.messagePayload = "Hello World";
        this.messageTopic = "presence";
        this.subscriptionTopic = this.messageTopic;

        this.mqttCon = new MqttConnection();
        this.mqttCon.test = "test!!";
        this.$.content.appendChild(this.mqttCon);

        this.toast = this.$.toast;


        var self = this;

        document.addEventListener("toast", function (e, detail, sender) {
          self.toast.text = e.detail.text;
          if (e.detail.status) {
            self.toaststatus  = e.detail.status;
          } else {
            self.toaststatus  = "";
          }
          self.toast.show();
        });
      },

      sendMessage: function () {
        console.log("sendMessage");
        this.mqttCon.publish(this.messageTopic, this.messagePayload);
      },
      createSubscription: function () {
        this.mqttCon.subscribe(this.subscriptionTopic);
//          this.mqttCon.subscribe(this.subscriptionTopic, null, this.$.extra);
      },

      createConnection: function () {
        this.mqttCon.createClient(this.brokerUrl);
        this.connected = true;
      }
    });
  </script>
</polymer-element>

<demo-tag></demo-tag>




<!--<script>-->
<!--window.addEventListener('polymer-ready', function (e) {-->
<!--//    var mqttCon = new MqttConnection();-->
<!--//        console.log(mqttCon);-->
<!--//    mqttCon.createClient("ws:localhost:9371");-->
<!--//    mqttCon.subscribe('presence');-->
<!--//    mqttCon.publish('presence', 'Hello mqtt');-->

<!--});-->
<!--</script>-->

</body>
</html>