<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>mqtt connection demo</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <link rel="import" href="mqtt-connection.html">
</head>
<body unresolved>

<polymer-element name="demo-tag">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <h1>Create a connection</h1>
    Broker URL: <input value="{{brokerUrl}}" a>
    <button on-tap="{{createConnection}}" >create connection</button>

    <span>Connected: {{connected}}</span>

    <hr/>
    <h1>Create subscription</h1>
    Topic: <input value="{{subscriptionTopic}}">
    <button on-tap="{{createSubscription}}" disabled?="{{!connected}}">create Subscription</button>


    <hr/>
    <h1>Publish</h1>
    Payload: <input value="{{messagePayload}}">
    Topic: <input value="{{messageTopic}}">
    <button on-tap="{{sendMessage}}" disabled?="{{!connected}}">Send message</button>

    <hr/>
    <h1>Subscriptions</h1>

    <div id="content">

    </div>

  </template>



  <script>
    Polymer('demo-tag', {

      create: function () {

      },

      ready: function () {
        this.connected = false;
        this.defaultServer = "ws:broker.mqttdashboard.com:8000";
        this.brokerUrl =  this.defaultServer;
        this.messagePayload = "Hello World";
        this.messageTopic = "presence";
        this.subscriptionTopic = this.messageTopic;

        this.mqttCon = new MqttConnection();
        this.$.content.appendChild(this.mqttCon);
//        this.mqttCon.createClient("ws:localhost:9371");
//        this.mqttCon.subscribe('presence');
//        this.mqttCon.publish('presence', 'Hello mqtt');
      },

      sendMessage: function () {
        console.log("sendMessage");
        this.mqttCon.publish(this.messageTopic, this.messagePayload);
      },
      createSubscription: function () {
        this.mqttCon.subscribe(this.subscriptionTopic);
      },

      createConnection: function () {
        this.mqttCon.createClient(this.brokerUrl);
        this.connected = true;
      }
    });
  </script>
</polymer-element>

<demo-tag></demo-tag>


<!--<script>-->
<!--window.addEventListener('polymer-ready', function (e) {-->
<!--//    var mqttCon = new MqttConnection();-->
<!--//        console.log(mqttCon);-->
<!--//    mqttCon.createClient("ws:localhost:9371");-->
<!--//    mqttCon.subscribe('presence');-->
<!--//    mqttCon.publish('presence', 'Hello mqtt');-->

<!--});-->
<!--</script>-->

</body>
</html>