<link rel="import" href="../../bower_components/polymer/polymer.html"/>





<link rel="import" href="../../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../../bower_components/core-tooltip/core-tooltip.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">



<!--custom components-->
<link rel="import" href="../../bower_components/mqtt-connection/mqtt-connection.html">
<link rel="import" href="../../components/mqtt-connection-ui/mqtt-connection-ui.html">
<!--<link rel="import" href="../../components/mqtt-subscription/mqtt-subscription.html">-->

<link rel="import" href="../../bower_components/changeover-icon/changeover-icon.html">

<polymer-element name="mqtt-lens" constructo="Mqttlens">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <style>
      body {
        font-family: sans-serif;
      }

      .big {
        height: 48px;
        width: 48px;
      }

    </style>

    <template repeat="{{ connection in mqttConnections }}">
      <style>
        :host /deep/ .{{connection.connectionID}}.zero.bg  {

          background: {{connection.connectionColors[0]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.zero.border  {
          border-left: 3px solid {{connection.connectionColors[0]}}!important;
          border-right: 1px solid {{connection.connectionColors[0]}}!important;
        }

        :host /deep/ .{{connection.connectionID}} .badge  {
          background: {{connection.connectionColors[0]}}!important;

        }




        :host /deep/ .message-{{connection.connectionID}}.row.message  {
        border-top: 2px solid {{connection.connectionColors[9]}}!important;
        border-left: 3px solid {{connection.connectionColors[0]}}!important;
        border-bottom: 2px solid {{connection.connectionColors[9]}}!important;
        -webkit-animation: okAnimationa 5s;
        }



        :host /deep/ .{{connection.connectionID}}.one.bg   {

        background: {{connection.connectionColors[1]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.two.bg   {

        background: {{connection.connectionColors[2]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.three.bg   {

        background: {{connection.connectionColors[3]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.four.bg   {

        background: {{connection.connectionColors[4]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.five.bg   {

        background: {{connection.connectionColors[5]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.six.bg   {

        background: {{connection.connectionColors[6]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.seven.bg   {
        background: {{connection.connectionColors[7]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.eight.bg   {
        background: {{connection.connectionColors[8]}}!important;
        }

        :host /deep/ .{{connection.connectionID}}.nine.bg   {
        background: {{connection.connectionColors[9]}}!important;
        }




        paper-toast {
          z-index: 1001!important;
        }


      </style>

      <!--<div class="{{connection.connectionID}} zero bg">-->
        <!--zero-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} one bg">-->
        <!--one-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} two bg">-->
        <!--two-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} three bg">-->
        <!--three-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} four bg">-->
        <!--four-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} five bg">-->
        <!--five-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} six bg">-->
        <!--six-->
      <!--</div>-->
      <!--<div class="{{connection.connectionID}} seven bg">-->
        <!--seven-->
      <!--</div>-->
    </template>



    <!--/*todo remove this when done  */-->
    <!--<link rel="stylesheet" href="css/debug.css"/>-->




    <link rel="stylesheet" href="../../css/build/layout.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <!--git hub-->
    <a href="https://github.com/sandro-k/mqtt-chrome">
      <img class="github rot-90"
           src="../../img/github.png"
           alt="Fork me on GitHub">
    </a>


    <!--header-->
    <div id="header">
      <header class="header gradient">
        <div class="header-wrapper">

          <div class="row">

            <div class="col-xs-8 col-sm-10">
              <h1 class="app-name"><core-icon icon="search" class="big rot-75"></core-icon> {{appName}}<span>{{appSubname}}</span></h1>
            </div>

            <div class="col-xs-4 col-sm-2">
              <!--<h1 on-click="{{config}}" class="config-icon pull-right config extra-margin">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
              <!--</h1>-->

            </div>

          </div>
        </div>
      </header>
    </div>

    <!--/header-->
    <!--main-->
    <div class="container-fluid" layout horizontal wrap start>
      <!--menu-->
      <core-collapse id="menuCollapse" target="{{$.menu}}" opened horizontal></core-collapse>
      <div id="menu" style="overflow:initial!important">
         <div class="header right" layout horizontal self-stretch>
           <div flex>
             <h1>Connections</h1>
           </div>
           <div layout horizontal center class="menu-buttons">

             <core-tooltip show?="{{mqttConnections.length == 0}}">
               <style>
                 :host /deep/ .polymer-tooltip {
                   /*white-space: normal!important;*/
                   /*line-height: 10px;*/
                   z-index: 11;
                   /*background-color: rgba(144,238,144, 0.8);*/
                   /*border: 1px solid lightgreen;*/
                   /*color: #000000;*/
                   /*top: 18px;*/
                 }

               </style>
               <template if="{{mqttConnections.length == 0}}">
                 <strong tip>First add a connection</strong>
               </template>
              <template if="{{mqttConnections.length > 0}}">
               <strong tip>Add a connection</strong>
              </template>

               <core-icon icon="add" on-click="{{addConnection}}"></core-icon>
             </core-tooltip>


             <changeover-icon
                 icon="expand-less"
                 down="expand-more"
                 up="expand-less"
                 on-click="{{connectionListCollapse}}"
                 status="false"
                 disabled?="{{mqttConnections.length == 0}}"></changeover-icon>
           </div>
         </div>
          <!--items-->
          <div class="items">
              <core-collapse id="connectionListCollapse" target="{{$.connectionList}}" opened></core-collapse>
              <ul id="connectionList">
                <template repeat="{{ connection in mqttConnections }}">

                  <li class="{{connection.connectionID}} five bg" layout horizontal center>
                    <div flex>
                      <span class="wraptext">{{connection.connectionName}}</span>
                      <span class="badge {{connection.connectionID}} zero bg">{{connection.connected | connectedFilter}}</span>
                    </div>
                    <core-icon icon="settings" size="14" on-click="{{connectionSettings}}"></core-icon>
                    <core-icon icon="delete"  on-click="{{removeConnection}}"></core-icon>
                  </li>

                </template>
              </ul>
          </div>
      </div>





      <!--menu end-->
      <!--content-->
      <div id="content" style="min-width: 200px" flex>
        <div class="header left" layout horizontal center>
          <div class="menu-buttons left">
            <changeover-icon icon="chevron-left" down="chevron-right" up="chevron-left" on-click="{{menuCollapse}}" status="false"></changeover-icon>
          </div>
          <div flex>
            <h1>Environment Name</h1>
          </div>
          <div class="menu-buttons right">
          </div>
        </div>

        <div id="subscriptions">
        <template repeat="{{connection in mqttConnections}}">
          <div class="subheader {{connection.connectionID}} nine bg">
            <div class="{{connection.connectionID}} zero border" layout horizontal center>
              <div flex>
                <h2>Connection: {{connection.connectionName}}</h2>
              </div>
              <!--<div class="menu-buttons right">-->
                  <!--<core-icon icon="add" on-click="{{addSubscription}}"></core-icon>-->
              <!--</div>-->
            </div>
          </div>



        <div class="subheader {{connection.connectionID}} nine bg">
          <div class="{{connection.connectionID}} zero border" layout horizontal center>
            <div flex>
              <h2>Subscribe</h2>
            </div>
            <div class="menu-buttons right">
              <changeover-icon
                  target="{{connection.connectionID}}"
                  icon="expand-more"
                  down="expand-less"
                  up="expand-more"
                  on-click="{{toogleSubscribe}}"></changeover-icon>

            </div>
          </div>
          <core-collapse id="subscriptionCollapse{{connection.connectionID}}">
            <div class="{{connection.connectionID}} zero border space" layout horizontal end wrap>
              <div class="min-200 ml" flex five>
                <div layout vertical>
                  <strong class="form-header">Topic</strong>
                  <input class="form-control space-left topicInput" value="{{subscriptionTopic}}" flex>
                </div>
              </div>
              <div class="min-200 mlr" flex two>
                <div layout vertical>
                  <strong class="form-header">OoS</strong>
                  <select class="form-control min-200" value="{{subscriptionTopicQoS}}">
                    <option value="0">0 - at most once</option>
                    <option value="1">1 - at least once</option>
                    <option value="2">2 - exactly once</option>
                  </select>
                </div>
              </div>
              <div>
                <div class="mr" layout vertical>
                  <a class="btn btn-primary" on-click="{{addSubscription}}">Subscribe</a>
                </div>
              </div>
            </div>
          </core-collapse>
        </div>


        <div class="subheader {{connection.connectionID}} nine bg">
          <div class="{{connection.connectionID}} zero border" layout horizontal center>
              <div flex>
                <h2>Publish</h2>
              </div>
              <div class="menu-buttons right">
                <changeover-icon
                    target="{{connection.connectionID}}"
                    icon="expand-more"
                    down="expand-less"
                    up="expand-more"
                    on-click="{{tooglePublish}}"></changeover-icon>

              </div>
            </div>
            <core-collapse id="publishCollapse{{connection.connectionID}}">
              <div class="{{connection.connectionID}} zero border space" layout horizontal end wrap>
                <div class="min-200 ml" flex five>
                  <div layout vertical>
                    <strong class="form-header">Topic</strong>
                    <input class="form-control space-left topicInput" value="{{publishTopic}}" flex>
                  </div>
                </div>
                <div class="min-200 mlr" flex two>
                  <div layout vertical>
                    <strong class="form-header">OoS</strong>
                    <select class="form-control min-200" value="{{publishTopicQoS}}">
                      <option value="0">0 - at most once</option>
                      <option value="1">1 - at least once</option>
                      <option value="2">2 - exactly once</option>
                    </select>
                  </div>
                </div>
                <div>
                  <div class="mr" layout vertical>
                    <a class="btn btn-primary" on-click="{{mqttPublish}}">Publish</a>
                  </div>
                </div>
              </div>
              <div class="{{connection.connectionID}} zero border space" layout horizontal center>
                <div flex>
                  <div class="mr" layout vertical>
                    <strong class="form-header">Message</strong>
                    <textarea class="form-control mlr" rows="3" flex value="{{publishValue}}"></textarea>
                  </div>
                </div>
              </div>
            </core-collapse>
          </div>

          <div id="ID{{connection.connectionID}}" class="item">
            <div class="subheader {{connection.connectionID}} nine bg">
              <div class="{{connection.connectionID}} zero border" layout horizontal center>
                <div flex>
                  <h2>Subscriptions</h2>
                </div>
             </div>
           </div>

          </div>
        </template>
        </div>

      </div>
      <!--content end-->
    </div>
    </div>


    <paper-toast duration="4000" id="toast" status="{{toaststatus}}"></paper-toast>
    <content>

    </content>

  </template>


  <script>
    Polymer('mqtt-lens', {




      publish: {
        leftMenu: true,
        appName: "MQTT",
        appSubname: "lens",
        breadcrump: "Subscriptions",
        publishTopicQoS: 0,
      },

      mqttConnections: [],

      defaultConnectionColors: ['#ccbb22', '#77cc22', '#22cc33', '#22cc99', '#2233cc', '#7722cc', '#cc22bb' , '#cc2255'],
      colorCounter: 1,


      created: function () {
        console.log("created");

        this.subscriptionTopic = 'test';
        this.publishTopicQoS = 0;
        this.publishTopic = 'test';
        this.publishValue = '{"id":"387","name":"greenhouse","description":"The sensorbox of the greenhouse on my terrace","datastreams":[{"id":"9347","name":"temperature","description":"Temperature"},{"id":"9348","name":"Humidity","description":"Humidity"}]}';

      },
      ready: function () {
        console.log("ready");
        this.toast = this.$.toast;
      },
      attached: function () {
        console.log("attached");
      },
      domReady: function () {
        console.log("domReady");
//        this.loadDummy();

      },
      detached: function () {
        console.log("detached");
      },

      // functions
      leftMenuToggle: function () {
        console.log("leftMenuToggle");
        this.leftMenu = !this.leftMenu;
      },


      config: function () {
        // TODO(sandro-k) show settings
      },

      loadDummy: function () {
        var values = {
          "connectionID":"lensasasasasa",
          "connectionName":"broker.mqttdashboard.com",
          "connectionColor":this.defaultConnectionColors[0],
          "hostname":"ws://broker.mqttdashboard.com",
          "hostPort":8000,
          "clientID":"connectionID",
          "cleanSession":true,
          "useSSL":false,
          "keepAlive":120,
          "username":"Sandro",
          "password":"test",
          "passwordHashFunction":true,
          "lastWillTopic":"",
          "lastWillMessage":"",
          "lastWillQoS":0,
          "lastWillRetained":false,
          "autoConnect":true};


        this.createConnection(values);
      },

      addConnection: function () {
        var self = this;
        var values = {
          "ID":"",
          "connectionName":"broker.mqttdashboard.com",
          "connectionColor":this.defaultConnectionColors[this.colorCounter],
          "hostname":"broker.mqttdashboard.com",
          "hostPort":8000,
          "clientID":"7ILDuLmcWUyTiLJvDhvMg7XZxyPh0PaM",
          "cleanSession":true,
          "useSSL":false,
          "keepAlive":120,
          "username":"Sandro",
          "password":"test",
          "passwordHashFunction":true,
          "lastWillTopic":"topic",
          "lastWillMessage":"message",
          "lastWillQoS":0,
          "lastWillRetained":true,
          "autoConnect":true};

        this.colorCounter++;
        if (this.colorCounter >= this.defaultConnectionColors.length ) {
          this.colorCounter = 0;
        }


        // create modal
        var newConnectionUI = new MqttConnectionUi();

        // load values
        newConnectionUI.load(values)

        // add listener for save
        newConnectionUI.addEventListener("newMqttConnection", function(e) {
          self.createConnection(e.detail);
        });

        newConnectionUI.addEventListener("cancelNewMqttConnection", function() {
          // remove form shadowRoot not needed any more
          // todo(sandro-k) removing the UI form dom causes the overlay to stay on the site fix this
          // self.shadowRoot.removeChild(newConnectionUI);
        });
        this.shadowRoot.appendChild(newConnectionUI);

        newConnectionUI.toggle();
      },

      createConnection: function(conValues) {
        var self = this;
        var mqttCon = new MqttConnection();

        for (var property in mqttCon.publish) {
          if (conValues[property]) {
            mqttCon[property] = conValues[property];
          }
        }

        mqttCon.createClient();
        this.mqttConnections.push(mqttCon);

        mqttCon.addEventListener("toast", function (e, detail, sender) {
          self.makeToast.apply(self, arguments);
        });
      },

      connectionListCollapse: function () {
        this.$.connectionListCollapse.toggle();
      },

      makeToast: function (e, detail, sender) {
        this.toast.text = e.detail.text;
        if (e.detail.status) {
          this.toaststatus  = e.detail.status;
        } else {
          this.toaststatus  = "";
        }
        this.toast.show();
      },

      menuCollapse: function () {
        this.$.menuCollapse.toggle();
      },

      addSubscription: function (inEvent, inDetail ,inSender) {
        // polymer magic
        var connection = inSender.templateInstance.model.connection;
        // get the target
        var target = this.$.subscriptions.querySelector('#ID'+connection.connectionID);

        var options = {
          qos: parseInt(this.subscriptionTopicQoS)
        }
        console.log(options);


        // subscribe
        connection.subscribe(this.subscriptionTopic, options , target, function() {
          console.log("addSubscription callback");
        });


      },

      connectionSettings: function (inEvent, inDetail ,inSender) {
        var self = this;
        var connection = inSender.templateInstance.model.connection;

        var values = {};

        for (var property in connection.publish) {
          if (connection[property]) {
            values[property] = connection[property];
          }
        }

        // create modal
        var newConnectionUI = new MqttConnectionUi();

        // load values
        newConnectionUI.load(values)

        newConnectionUI.mode = 'edit';

        // add listener for save
        newConnectionUI.addEventListener("newMqttConnection", function(e) {
          connection.updateConnection(e.detail);
          //self.createConnection(e.detail);
        });

        this.shadowRoot.appendChild(newConnectionUI);

        newConnectionUI.toggle();


      },

      toogleSubscribe: function (inEvent, inDetail ,inSender) {
        // todo(sandro-k) unclean hack please fix
        inSender.templateInstance.firstNode.parentNode.querySelector("#subscriptionCollapse"+ inSender.getAttribute("target")).toggle();
      },

      tooglePublish: function (inEvent, inDetail ,inSender) {
        // todo(sandro-k) unclean hack please fix
        inSender.templateInstance.firstNode.parentNode.querySelector("#publishCollapse" + inSender.getAttribute("target")).toggle();
      },

      mqttPublish: function (inEvent, inDetail ,inSender) {


        var topic = this.publishTopic;
        var qos = parseInt(this.publishTopicQoS)
        var message = this.publishValue;

        console.log("Qos:%s", qos);


        var options = {
          qos: qos,
          retain: false
        }

        var self = this;
        var connection = inSender.templateInstance.model.connection;
        connection.mqttPublish(topic, message, options, function() {
          console.log("Callback");
        });



      },

      removeConnection: function (inEvent, inDetail ,inSender) {
        console.log(inSender);
        var connection = inSender.templateInstance.model.connection;
        console.log(connection);
        connection.end();

        this.mqttConnections = _.without(this.mqttConnections, connection);
      },

      /**
       * FILTER EXPRESSIONS
       */

      connectedFilter: function(connected){
        if(connected) {
          return "connected";
        } else {
          return "disconnected";
        }
      },



    });
  </script>
</polymer-element>