@import "variables";

body {
  background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  color: $grey_dark_dark;
}

.header {
  .app-name {
    color: #ffffff;
  }
}



.header {
  border-left: 1px solid $grey_dark;
  border-top: 1px solid $grey_dark;
  border-bottom: 1px solid $grey_dark;
  border-right: 1px solid $grey_dark;
  h1, h2, h3, h4, h5, h6 {
    color: $grey_dark_dark;
  }
  &.left {
    border-left: 3px solid $grey_dark_dark;
  }

  &.right {
    border-right: 3px solid $grey_dark_dark;
  }
}

#content {
  .header {
    background: #ffffff;
  }
}

#menu {
  .header {
    background: #ffffff;
    padding-left: $margin*2;
  }
  .items {
    padding-left: $margin*2;
  }
}
