@import "variables";

body {
  background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  color: $grey_dark_dark;
}

strong {
  color: $grey_dark_dark;
}

core-tooltip {
  strong {
    color: #ffffff;
  }
}


.form-control {
  color: $grey_dark_dark;
}

header {
  &.header {
    background: #ffffff;
    .app-name {
      color: $brand-primary!important;
    }
    margin-bottom: $margin*3;
    padding-top: $margin;
    padding-bottom: $margin;


    .header-wrapper {
      border-bottom: 1px dotted $brand-primary;
      border-top: 1px dotted $brand-primary;
    }
    .config[on-click] {
      color: $brand-primary;
    }
  }
}

.modal-header {
//  color: $brand-primary;
  h2 {
    color: $brand-primary;
  }
  button {
    color: $brand-primary;
    &.close {
      color: $brand-primary;
      text-shadow: none;
      &:hover {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);
      }
    }
  }
}


.header {
  border-left: 1px solid $grey_dark;
  border-top: 1px solid $grey_dark;
  border-bottom: 1px solid $grey_dark;
  border-right: 1px solid $grey_dark;
  h1, h2, h3, h4, h5, h6 {
    color: $grey_dark_dark;
  }
  &.left {
    border-left: 3px solid $grey_dark_dark;
  }

  &.right {
    border-right: 3px solid $grey_dark_dark;
  }
}

#content {
  .header {
    background: #ffffff;
  }
}

.subheader {
//  border-left: 1px solid $grey_dark;
//  border-right: 1px solid $grey_dark;
//  border-bottom: 1px solid $grey_dark;
  :first-child {
    padding-left: $margin*0.5;
    padding-right: $margin*0.5;
  }
}

#menu {
  .header {
    background: #ffffff;
    padding-left: $margin*2;
  }
  .items {
    //    padding-left: $margin*2;
  }

  #connectionList {
    li {
      background: lightgreen;
      border-left: 1px solid $grey_dark;
      border-right: 1px solid $grey_dark;
//      border-top: 1px solid $grey_dark;
      border-bottom: 1px solid $grey_dark;

      padding: {
        left: $margin*2;
        top: $margin;
        bottom: $margin;
      }
      core-icon {
        margin-right: $margin ;
        margin-left: $margin ;
      }
    }
  }
}

.menu-buttons {
  //  background-color: $grey-light;
  //  border: 1px solid $grey_dark_dark;
}

.wraptext {
  word-wrap: break-word;
}


.space {
  padding: {
   top: $margin;
   bottom: $margin;
  }
}

.space-left {
  padding-left: $margin;
}

.topicInput {
//  max-width: 300px;
}

.form-header {
  margin-bottom: $margin ;
}

:host /deep/ .mr {
  margin-right: $margin;
}

:host /deep/ .ml {
  margin-left: $margin;
}

:host /deep/ .mlr {
  margin-left: $margin;
  margin-right: $margin;
}

:host /deep/ .mb {
 margin-bottom: $margin;
}

:host /deep/ .mt {
  margin-top: $margin;
}

:host /deep/ .pl {
 padding-left: $margin;
}
:host /deep/ .pr {
 padding-right: $margin;
}
.label-primary {
  background-color: $brand-primary;
}