// This file will only contain variables

$margin: 4px;


$grey: #f2f2f2;
$grey-light: #f6f6f6;
$grey_dark: #c1c0c6;


$grey_dark_dark: #626267;
$black: #010101;
$blue: #7694c6;


//## Gray and brand colors for use across Bootstrap.

$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

$brand-primary:         #443685;
$brand-success:         #5cb85c;
$brand-info:            #afbbdc;
$brand-warning:         #f7941e;
$brand-danger:          #d9534f;

//** Eclipse colors

$eclipse-orange: $brand-warning;
$eclipse-light-grey: #e8e8e8;
$eclipse-highlight-grey: #f5f5f5;
