<!-- import polymer-->
<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
<link rel="import" href="../../bower_components/core-icons/core-icons.html"/>

<polymer-element name="changeover-icon"  attributes="up, down, icon" on-click="{{toogle}}" constructor="ChangeoverIcon">



  <template>
    <style>
      :host([disabled]) core-icon{
        color: #d3d3d3;
      }

    </style>
    <core-icon icon="{{icon}}" icon="{{icon}}"><content></content></core-icon>
  </template>

  <script>
    Polymer('changeover-icon', {
      publish: {
        icon : '',
        status : false,
        up : '',
        down : '',
        disabled: false,
      },

      created: function () {
//        console.debug("created:");

      },
      ready: function () {
//        console.debug("ready");
      },
      toogle: function () {
        // had a typo
        // deprecated
        this.toggle();
      },
      toggle: function () {
//        console.log(this);

        if (!this.disabled){
          if (this.icon === this.down) {
            this.icon = this.up;
          } else {
            this.icon = this.down;
          }
          this.status != this.status;
        }
      },



      addClassToElement: function(elem,value){
      var rspaces = /\s+/;
      var classNames = (value || "").split( rspaces );
      var className = " " + elem.className + " ",
          setClass = elem.className;
      for ( var c = 0, cl = classNames.length; c < cl; c++ ) {
        if ( className.indexOf( " " + classNames[c] + " " ) < 0 ) {
          setClass += " " + classNames[c];
        }
      }
      elem.className = setClass.replace(/^\s+|\s+$/g,'');//trim
    },

    removeClassFromElement: function (elem,value){
      var rspaces = /\s+/;
      var rclass = /[\n\t]/g
      var classNames = (value || "").split( rspaces );
      var className = (" " + elem.className + " ").replace(rclass, " ");
      for ( var c = 0, cl = classNames.length; c < cl; c++ ) {
        className = className.replace(" " + classNames[c] + " ", " ");
      }
      elem.className = className.replace(/^\s+|\s+$/g,'');//trim
    }

    });
  </script>


</polymer-element>