<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>changeover-icon demo</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <link rel="import" href="changeover-icon.html"/>
  <link rel="import" href="../../bower_components/core-icons/core-icons.html">
</head>
<body fullbleed unresolved>




<polymer-element name="demo-tag">
  <template>
    <template repeat="{{ icon in icons }}">

      <changeover-icon icon="{{icon}}"
                       up="{{icon}}"
                       on-click="{{add}}"
                       down="arrow-drop-down">
        [[count]]
                       </changeover-icon>

    </template>
  </template>
<script>
  Polymer('demo-tag', {


    publish: {
      icons: []
    },

    observe: {
      innerHTML: 'innerHTMLChanged'
    },

    created: function () {
      this.icons = ['add'];
      this.count = 0;
    },

    ready: function () {

      console.log("ho");
    },

    add: function () {
      this.icons.push('add');
      this.iconInstances = this.shadowRoot.getElementsByTagName('changeover-icon');
      this.count++;
      console.log(this.iconInstances);
    },

    innerHTMLChanged: function () {
      console.log("changed");
    }
  });
</script>

</polymer-element>

<demo-tag>

</demo-tag>

</body>
</html>