@import "variables";


#menu {
  // margin
  margin-right: $margin*2;

  // padding
  padding-left: 0;
  padding-right: $margin;

  //size
  max-width: 260px;

}

.menu-buttons {
    margin-left: $margin*4;
    &.left {
      margin: {
       left: 0;
       right: $margin*2;
      }
    }
    &.right {
      right: 0;
      left: $margin*2;
    }
}

#subscriptions {
  .item {
    margin-bottom: $margin*4;
  }
}

#connectionList {
  list-style: none;
  margin: 0;
  padding: 0;
}


.min-200 {
  min-width: 200px;
}


