<!doctype html>
<html>
<head>

  <title>mqtt-subscription</title>

  <script src="../../bower_components/platform/platform.js"></script>

  <link rel="import" href="../../bower_components/core-collapse/core-collapse.html">
  <link rel="import" href="message-source.html">


  <style>
    pre.prettyprint {
      padding: 0 0 0 2px !important; }
    pre.prettyprint .str {
      color: #333333; }

    .code-head {
      display: block;
      margin: 0;
      padding: 0 0 0 8px;
      font-weight: bold;
      font-size: medium;
      float: right;
      background: #c4ee99;
      padding-left: 6px;
      padding-bottom: 2px;
      padding-right: 4px;
      border-left: 1px dotted #888;
      color: #555;
      padding-top: 2px;
      font-size: 14px;
      font-weight: 100;
      border-bottom-left-radius: 5px;
      border-bottom: 1px dotted #888; }
    .code-head.in {
      margin: 0 0 4px 0; }

  </style>

</head>
<body unresolved>


<message-source>{foo:"test", moo:1}</message-source>

<div id="message">
  <pre class="prettyprint prettyprinted"><div class="code-head in" data-toggle="message" data-message="{
  &quot;id&quot;: &quot;387&quot;,
  &quot;name&quot;: &quot;greenhouse&quot;,
  &quot;description&quot;: &quot;The sensorbox of the greenhouse on my terrace&quot;,
  &quot;datastreams&quot;: [
    {
      &quot;id&quot;: &quot;9347&quot;,
      &quot;name&quot;: &quot;temperature&quot;,
      &quot;description&quot;: &quot;Temperature&quot;
    },
    {
      &quot;id&quot;: &quot;9348&quot;,
      &quot;name&quot;: &quot;Humidity&quot;,
      &quot;description&quot;: &quot;Humidity&quot;
    }
  ]
}" data-message-short="{&quot;id&quot;:&quot;387&quot;,&quot;name&quot;:&quot;greenhouse&quot;,&quot;description&quot;:&quot;The sensorbox of the greenhouse on my terrace&quot;,&quot;datastreams&quot;:[{&quot;id&quot;:&quot;9347&quot;,&quot;name&quot;:&quot;temperature&quot;,&quot;descr..." data-target="#message-"><span class="pln"><span class="pln"><span class="pln"><span class="pln"><span class="pln">JSON </span></span></span></span></span><i class="fa glyphicon-btn fa-angle-double-down"></i></div><code class="language-json"><span class="pun">{</span><span class="pln">
  </span><span class="str">"id"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"387"</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"name"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"greenhouse"</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"description"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"The sensorbox of the greenhouse on my terrace"</span><span class="pun">,</span><span class="pln">
  </span><span class="str">"datastreams"</span><span class="pun">:</span><span class="pln"> </span><span class="pun">[</span><span class="pln">
    </span><span class="pun">{</span><span class="pln">
      </span><span class="str">"id"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"9347"</span><span class="pun">,</span><span class="pln">
      </span><span class="str">"name"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"temperature"</span><span class="pun">,</span><span class="pln">
      </span><span class="str">"description"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"Temperature"</span><span class="pln">
    </span><span class="pun">},</span><span class="pln">
    </span><span class="pun">{</span><span class="pln">
      </span><span class="str">"id"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"9348"</span><span class="pun">,</span><span class="pln">
      </span><span class="str">"name"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"Humidity"</span><span class="pun">,</span><span class="pln">
      </span><span class="str">"description"</span><span class="pun">:</span><span class="pln"> </span><span class="str">"Humidity"</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
  </span><span class="pun">]</span><span class="pln">
</span><span class="pun">}</span></code></pre>
</div>


<div id="message2"><pre class="prettyprint"><div class="code-head in" data-toggle="message"  data-target="#message-"><span class="pln"><span class="pln"><span class="pln"><span class="pln"><span class="pln">JSON </span></span></span></span></span><i class="fa glyphicon-btn fa-angle-double-down"></i></div><code class="language-json">{
    "id": "387",
    "name": "greenhouse",
    "description": "The sensorbox of the greenhouse on my terrace",
    "datastreams": [
    {
    "id": "9347",
    "name": "temperature",
    "description": "Temperature"
    },
    {
    "id": "9348",
    "name": "Humidity",
    "description": "Humidity"
    }
    ]
    }
  </code></pre>
</div>

<script>
//  PR.prettyPrint();
</script>
</body>
</html>
