<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html"/>
<link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
<link rel="import" href="../../bower_components/core-icons/core-icons.html"/>

<!--code pretty-->
<script src="../../bower_components/google-code-prettify/src/prettify.js?autoload=false"></script>

<!--jquery-->
<script src="../../bower_components/jquery/dist/jquery.js"></script>

<polymer-element name="message-source" attributes="type">
  <template>
    <link rel="stylesheet" href="../../bower_components/google-code-prettify/src/prettify.css"/>
    <style>


      .code-head {
        display: block;
        margin: 0;
        padding: 0 0 0 8px;
        font-weight: bold;
        font-size: medium;
        float: right;
        background: #c4ee99;
        padding-left: 6px;
        padding-bottom: 2px;
        padding-right: 4px;
        border-left: 1px dotted #888;
        color: #555;
        padding-top: 2px;
        font-size: 14px;
        font-weight: 100;
        border-bottom-left-radius: 5px;
        border-bottom: 1px dotted #888;

      }

      pre.prettyprint {
        padding: 0 0 0 2px !important;
      }

      pre.prettyprint {
        border: 1px solid #888;
      }

      .input {
        color: red;
      }


    </style>
    <content contenteditable="true" id="content-wrapper" class="input"></content>
    <pre id="container" class="prettyprint prettyprinted output"></pre>





    <div>
      <!--{{content | abbrev(150) }}-->
    </div>

    <div id="message-{{ID}}">
      <pre class="prettyprint">
        <div
            class="code-head"
            data-toggle="message"
            data-message="{{content}}"
            data-message-short="{{content | abbrev(150)}}..."
            data-target="#message-{{ID}}">{{type}}<i class="fa glyphicon-btn fa-angle-double-down"></i>
        </div>
        <div class="prettyprint">
          {{content | stringify(2)}}
        </div>


      </pre>
    </div>


    <core-icon on-click="{{handelopen}}" icon="arrow-drop-down">{{type}}</core-icon>
    <core-collapse id="collapse">
      <pre class="prettyprint">

      </pre>
    </core-collapse>





  </template>
  <script>
    //this.$['content-wrapper'].


    var object1 = {
      "id": "387",
      "name": "greenhouse",
      "description": "The sensorbox of the greenhouse on my terrace",
      "datastreams": [
        {
          "id": "9347",
          "name": "temperature",
          "description": "Temperature"
        },
        {
          "id": "9348",
          "name": "Humidity",
          "description": "Humidity"
        }
      ]
    };

    Polymer('message-source', {


      abbrev: function (value, length) {
//        console.log(value)
//        console.log(value.substr(0, length));
//        console.log(JSON.stringify(value).substr(0, length));
        if (typeof(value) === "object" ) {
          return JSON.stringify(value, null, 2).substr(0, length);
        } else {
          return value.substr(0, length);
        }
      },

      stringify: function (value, spaceNum) {
        return JSON.stringify(value, null, spaceNum);
      },

      handelopen: function (event, detail, sender) {
        // this will toggle the collapse at data-target
        console.log("log");
        this.$.collapse.toggle();
//        this.$[sender.attributes['data-target'].value].toggle()
      },

      renderHtml: function() {

//          this.$.container.innerHTML = this.$['content-wrapper'];

//          var html = PR.prettyPrintOne("<pre class='prettyprint prettyprinted'><code>"+ this.$['content-wrapper'].getDistributedNodes()[0] +"</code></pre>");
        var html = $(this.$['content-wrapper'].getDistributedNodes()[0]).text();

          console.log(html);

//          var tmp = {foo:"test", moo:1, longlist: [1, 2, 3, 4, 5, 6]};

          $(this.$.container).html(PR.prettyPrintOne(JSON.stringify(html, null, 2)));

//        this.$.container.innerHTML = PR.prettyPrintOne("<pre class='prettyprint prettyprinted'><code>"+ JSON.stringify(object1, null, 2) +"</code></pre>");

      },

      ready: function () {
        console.log(this);
        console.log("ready");
        console.log(this.$['content-wrapper'].innerHTML);
      },


      created: function () {
        console.log("created");
        this.test = "<h1>HEADING TEST</h1>";
        this.test2 = "<p><span>ipsam molestiae nemo quia quibusdam repellendus.</span></p>";
        this.id = "XXX";
        this.type = "JSONXX";
        this["contentShort"] = JSON.stringify(object1).substr(0, 150);
        this.content = object1;
//        this.content =

//        console.log(PR.prettyPrintOne("<code>"+ JSON.stringify(object1, null, 2) +"</code>"));

//        PR.prettyPrint(this.done);



      },
      done: function () {
        console.log("done");
        console.log(this.$['content-wrapper'].innerHTML);
      },
      attached: function () {
        console.log("attached");
      },
      domReady: function () {
        console.log("domReady");
        console.log(this.$['content-wrapper'].getDistributedNodes()[0]);
        console.log(typeof this.$['content-wrapper'].getDistributedNodes()[0]);
//        console.log(JSON.stringify(this.$['content-wrapper'].getDistributedNodes()[0]));
        this.renderHtml();
      },
      detached: function () {
        console.log("detached");
      },
      attributeChanged: function (attrName, oldVal, newVal) {
        //var newVal = this.getAttribute(attrName);
        console.log(attrName, 'old: ' + oldVal, 'new:', newVal);
      }
    });


  </script>

</polymer-element>