# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# project
# we use scss for styling and compile to css
build/
# minified js
/node_modules/
/.sass-cache/
/bower_components/
