<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>mqtt connection demo</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <link rel="import" href="mqtt-subscription.html">
</head>
<body unresolved>


<polymer-element name="demo-tag">
  <!-- outermost template defines the element's shadow DOM -->

  <template>
    <mqtt-subscription topic="{{topic}}" messages="{{messages}}"></mqtt-subscription>
  </template>




  <script>
    Polymer('demo-tag', {

      create: function () {

      },

      ready: function () {
        this.topic = "presence";
        this.messages = [];
        this.messages.push(
            {
              "cmd": "publish",
              "retain": false,
              "qos": 0, "dup": false,
              "length": 20,
              "topic": "presence",
              "payload": "Hello mqtt",
              "timestamp": 1405585626694
            }
        )
      }

    });
  </script>
</polymer-element>

<demo-tag></demo-tag>

<script>


</script>
</body>
</html>