#message-warpper {
//  max-height: 260px;
//  overflow-y: scroll;
}

paper-button {
  margin-right: 8px;
}

core-tooltip /deep/ .left {
                      margin-right: 0;
                    }

core-tooltip /deep/ .top {
                      margin-bottom: 0;
                    }

core-tooltip /deep/ .bottom {
                      margin-top: 0;
                    }

core-tooltip /deep/ .right {
                      margin-left: 0;
                    }


button[dismiss]:hover  {
  background-color: #d9534f;
}

button[confirme]:hover {
  background-color: #5cb85c;
}

core-tooltip /deep/ .polymer-tooltip {
                      pointer-events: auto;
                      ackground-color: #ffff00;
                    }


