<!-- import polymer-->
<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html"/>
<link rel="import" href="../../bower_components/core-overlay/core-overlay.html"/>
<link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
<link rel="import" href="../../bower_components/core-icons/core-icons.html"/>
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html"/>
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../changeover-icon/changeover-icon.html"/>

<script src="../../bower_components/moment/moment.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../js/libs/bootstrap.js"></script>

<!-- declare element -->
<polymer-element id="{{connectionID}}{{topicID}}" name="mqtt-subscription" attributes="topic, messages, connectionID, topicID, options" constructor="MqttSubscription">

  <template>

    <link rel="stylesheet" href="style.css"/>
    <style>
      #message-warpper {
        max-height: 260px;
        overflow-y: scroll;
      }
    </style>




    <div class="connection connection-{{connectionID}} sub expanded">
      <div class="row">
        <div class="col-xs-6 col-lg-9">
          <h3>"/{{topic}}"</h3>
        </div>
        <div class="col-xs-6 col-lg-3 options">





          <template if="{{ messages.length > 0}}">

            <changeover-icon icon="arrow-drop-down"
                             up="arrow-drop-up"
                             class="pull-right"
                             on-click="{{handelopen}}"
                             data-target="{{connectionID}}{{message.ID}}"
                             down="arrow-drop-down"></changeover-icon>



          </template>

          <template if="{{ messages.length < 1}}">

            <changeover-icon icon="arrow-drop-down"
                             up="arrow-drop-up"
                             class="pull-right off"
                             on-click="{{handelopen}}"
                             data-target="{{connectionID}}{{message.ID}}"
                             down="arrow-drop-down"></changeover-icon>


          </template>


          <core-icon
              class="pull-right"
              on-click="{{settings}}"
              icon="settings"></core-icon>

          <core-icon
              id="deleteSub"
              icon="delete"
              class="pull-right"
              on-click="{{hendelUnsubscribe}}"></core-icon>

            <span class="pull-right">
              <span class="badge">Messages: {{sumUnRead}}/{{messages.length}}</span>
            </span>
        </div>
      </div>

      <core-collapse id="{{connectionID}}{{message.ID}}">
        <template if="{{ messages.length > 0 }}">
          <div class="row table-header message-{{message.ID}}">
            <div class="hidden-xs col-sm-2 col-lg-1"><h4>Date</h4></div>
            <div class="col-xs-5 col-sm-4 col-lg-2"><h4>Topic</h4></div>
            <div class="col-xs-7 col-sm-6 col-lg-9"><h4>Message</h4></div>
          </div>
        </template>

        <div id="message-warpper">
        <template repeat="{{message in messages}}">
          <div class="row message message-{{message.ID}}">
            <div class="hidden-xs col-sm-2 col-lg-1">{{message.timestamp | moment }}</div>
            <div class="col-xs-5 col-sm-4 col-lg-2">{{message.topic}}</div>
            <div class="col-xs-7 col-sm-6 col-lg-9">{{message.payload}}</div>
          </div>
        </template>
       </div>
      </core-collapse>

    </div>




    <core-overlay id="subscriptionOptions" layered transition="core-transition-top" backdrop>
      <style no-shim>
        #options-wrapper {
          background: #ffffff;
          width: 500px;
        }
      </style>

      <style shim-shadowdom>

        body {
          font-family: sans-serif;
        }

        core-toolbar {
          background-color: #ffffff;
        }

        .head {
          width: 100%;
          margin: 0;
          background-color: #CCCCCC;
        }




      </style>
      <div id="options-wrapper">
        <core-toolbar class="tall">
          <div class="head">
            <span flex>Options</span>
            <core-icon-button class="pull-right" icon="close"></core-icon-button>
          </div>
          <br/>
          <div>

          </div>

          <div class="bottom">
            <core-icon-button icon="delete">
              <span>Delete</span>
            </core-icon-button>
            <core-icon-button icon="close">Close</core-icon-button>
            <core-icon-button icon="save">Save</core-icon-button>
          </div>
        </core-toolbar>
      </div>
    </core-overlay>


    <paper-dialog id="subscriptionOptions" heading="Dialog" transition="paper-dialog-transition-center">
      <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>

      <p>Id qui scripta laboramus dissentiet, verterem partiendo vim at. Stet dissentiet ut mei. Iriure facilis eloquentiam pro eu, nec an esse inciderint. In meliore abhorreant sea. Eros nostro ocurreret at nec. Cu per regione persecuti.</p>

      <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>

      <paper-button label="More Info..." dismissive></paper-button>
      <paper-button label="Decline" affirmative></paper-button>
      <paper-button label="Accept" affirmative autofocus></paper-button>

    </paper-dialog>


  </template>



  <script>
    Polymer('mqtt-subscription', {

      /**
       * Extra options that control affect the subscription
       */
      options: {
        qos: 0,
        dup: false,
        messageId: null
      },

      /**
       *
       */
      topicID: '',

      topic : '',

      created: function () {
        console.debug("created:");
        console.debug(this);

        this.message = { ID: 1 };
        this.messages = [];
        // todo change
        this.connectionID = "1";
        this.sumUnRead = 0;
        this.isOpen = false;
        this.removeDialog = false;
      },

      ready: function () {
        console.debug("ready");
      },

      domReady: function () {
        this.settings();
      },

      handelopen: function (event, detail, sender) {
        // this will toggle the collapse at data-target
        this.$[sender.attributes['data-target'].value].toggle()
        this.sumUnRead = 0;
        this.isOpen = !this.isOpen;
      },

      addMessage: function (message) {
        console.debug("addMessage: %s", JSON.stringify(message));
        this.messages.push(message);
        if (!this.isOpen){
          this.sumUnRead++;
        }

      },
      settings: function () {
        this.$.subscriptionOptions.toggle();
      },

      hendelUnsubscribe: function () {
        this.removeDialog = !this.removeDialog;



//        $(this.$.deleteSub).popover({animation:true, content:elem, html:true});
//        $(this.$.deleteSub).hide();
//        $(this.$.deleteSub).addClass("mooo");
//        $(this.$.myModal).show()



//        this.fire('unsubscribe', {topic: this.topic, connectionID: this.connectionID, source: this});
        console.log("hendelUnsubscribe");
      },

      moment: function (value) {
        return moment(value).calendar();
//        return moment(value).format('MMMM Do YYYY, h:mm:ss a');
      }

    });


  </script>

</polymer-element>
