<!-- import polymer-->
<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html"/>
<link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
<link rel="import" href="../../bower_components/core-icons/core-icons.html"/>
<link rel="import" href="../changeover-icon/changeover-icon.html"/>

<script src="../../bower_components/moment/moment.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../js/libs/bootstrap.js"></script>

<!-- declare element -->
<polymer-element id="{{connectionID}}{{topicID}}" name="mqtt-subscription" attributes="topic, messages, connectionID, topicID" constructor="MqttSubscription">

  <template>
    <link rel="stylesheet" href="../../css/build/global.css"/>
    <link rel="stylesheet" href="../../css/build/fonts.css"/>
    <link rel="stylesheet" href="../../css/build/layout.css"/>
    <link rel="stylesheet" href="style.css"/>
    <style>
      #message-warpper {
        max-height: 260px;
        overflow-y: scroll;
      }

    </style>




    <div class="connection connection-{{connectionID}} sub expanded">
      <div class="row">
        <div class="col-xs-6 col-lg-9">
          <h3>"/{{topic}}"</h3>
        </div>
        <div class="col-xs-6 col-lg-3 options">





          <template if="{{ messages.length > 0}}">

            <changeover-icon icon="arrow-drop-down"
                             up="arrow-drop-up"
                             class="pull-right"
                             on-click="{{handelopen}}"
                             data-target="{{connectionID}}{{message.ID}}"
                             down="arrow-drop-down"></changeover-icon>



          </template>

          <template if="{{ messages.length < 1}}">

            <changeover-icon icon="arrow-drop-down"
                             up="arrow-drop-up"
                             class="pull-right off"
                             on-click="{{handelopen}}"
                             data-target="{{connectionID}}{{message.ID}}"
                             down="arrow-drop-down"></changeover-icon>


          </template>


          <core-icon
              class="pull-right"
              icon="settings"></core-icon>

          <core-icon
              id="deleteSub"
              icon="delete"
              class="pull-right"
              on-click="{{hendelUnsubscribe}}"></core-icon>

            <span class="pull-right">
              <span class="badge">Messages: {{sumUnRead}}/{{messages.length}}</span>
            </span>
        </div>
      </div>

      <core-collapse id="{{connectionID}}{{message.ID}}">
        <template if="{{ messages.length > 0 }}">
          <div class="row table-header message-{{message.ID}}">
            <div class="hidden-xs col-sm-2 col-lg-1"><h4>Date</h4></div>
            <div class="col-xs-5 col-sm-4 col-lg-2"><h4>Topic</h4></div>
            <div class="col-xs-7 col-sm-6 col-lg-9"><h4>Message</h4></div>
          </div>
        </template>

        <div id="message-warpper">
        <template repeat="{{message in messages}}">
          <div class="row message message-{{message.ID}}">
            <div class="hidden-xs col-sm-2 col-lg-1">{{message.timestamp | moment }}</div>
            <div class="col-xs-5 col-sm-4 col-lg-2">{{message.topic}}</div>
            <div class="col-xs-7 col-sm-6 col-lg-9">{{message.payload}}</div>
          </div>
        </template>
       </div>
      </core-collapse>

    </div>

    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </template>



  <script>
    Polymer('mqtt-subscription', {

      topicID: "",

      created: function () {
        console.debug("created:");
        console.debug(this);
        this.topic = "";
        this.message = { ID: 1 };
        this.messages = [];
        // todo change
        this.connectionID = "1";
        this.sumUnRead = 0;
        this.isOpen = false;
        this.removeDialog = false;
      },

      ready: function () {
        console.debug("ready");
      },

      handelopen: function (event, detail, sender) {
        // this will toggle the collapse at data-target
        this.$[sender.attributes['data-target'].value].toggle()
        this.sumUnRead = 0;
        this.isOpen = !this.isOpen;
      },

      addMessage: function (message) {
        console.debug("addMessage: %s", JSON.stringify(message));
        this.messages.push(message);
        if (!this.isOpen){
          this.sumUnRead++;
        }

      },

      hendelUnsubscribe: function () {
        this.removeDialog = !this.removeDialog;



//        $(this.$.deleteSub).popover({animation:true, content:elem, html:true});
//        $(this.$.deleteSub).hide();
//        $(this.$.deleteSub).addClass("mooo");
//        $(this.$.myModal).show()



//        this.fire('unsubscribe', {topic: this.topic, connectionID: this.connectionID, source: this});
        console.log("hendelUnsubscribe");
      },

      moment: function (value) {
        return moment(value).calendar();
//        return moment(value).format('MMMM Do YYYY, h:mm:ss a');
      }

    });


  </script>

</polymer-element>
