<!-- import polymer-->
<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html"/>
<link rel="import" href="../../bower_components/core-overlay/core-overlay.html"/>
<link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
<link rel="import" href="../../bower_components/core-icons/core-icons.html"/>
<link rel="import" href="../../bower_components/core-icons/iconsets/av-icons.html"/>
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html"/>
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/core-tooltip/core-tooltip.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">

<link rel="import" href="../changeover-icon/changeover-icon.html"/>

<script src="../../bower_components/moment/moment.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../js/libs/bootstrap.js"></script>

<!-- declare element -->
<polymer-element id="{{connectionID}}{{topicID}}" name="mqtt-subscription" attributes="topic, messages, connectionID, topicID, options" constructor="MqttSubscription">

  <template>

    <link rel="stylesheet" href="style.css"/>
    <style>
      #message-warpper {
        max-height: 260px;
        overflow-y: scroll;
      }

      paper-button {
        margin-right: 8px;
      }
    </style>



    <!--<div class="{{connectionID}} zero border">-->
      <!--HI-->
    <!--</div>-->

    <div class="connection {{connectionID}} bg nine border zero sub expanded">
      <div class="row">
        <div class="col-xs-6 col-lg-9">
          <h3>"{{topic}}"</h3>
        </div>

        <div class="col-xs-6 col-lg-3 options">



            <changeover-icon icon="arrow-drop-down"
                             up="arrow-drop-up"
                             class="pull-right"
                             on-click="{{handelopen}}"
                             disabled?="{{ messages.length < 1 }}"
                             down="arrow-drop-down"></changeover-icon>

          <core-icon
              class="pull-right"
              on-click="{{settings}}"
              icon="settings"></core-icon>

          <core-icon
              class="pull-right"
              on-click="{{pause}}"
              icon="av:pause"></core-icon>


            <span class="pull-right">
              <span class="badge">Messages: {{sumUnRead}}/{{messages.length}}</span>
            </span>
        </div>
      </div>

      <core-collapse id="messages">
        <template if="{{ messages.length > 0 }}">
          <div class="row table-header message-{{message.ID}}">
            <div class="hidden-xs col-sm-2 col-lg-1"><h4>Date</h4></div>
            <div class="col-xs-5 col-sm-4 col-lg-2"><h4>Topic</h4></div>
            <div class="col-xs-7 col-sm-6 col-lg-9"><h4>Message</h4></div>
          </div>
        </template>

        <div id="message-warpper">
        <template repeat="{{message in messages}}">
          <div class="row message message-{{message.ID}}">
            <div class="hidden-xs col-sm-2 col-lg-1">{{message.timestamp | moment }}</div>
            <div class="col-xs-5 col-sm-4 col-lg-2">{{message.topic}}</div>
            <div class="col-xs-7 col-sm-6 col-lg-9">{{message.payload}}</div>
          </div>
        </template>
       </div>
      </core-collapse>

    </div>




    <core-overlay id="subscriptionOptions"  transition="core-transition-top" backdrop layered>
      <style no-shim>
        #options-wrapper {
          background: #ffffff;
          width: 500px;
        }
      </style>

      <style shim-shadowdom>

        body {
          font-family: sans-serif;
        }

        core-toolbar {
          background-color: #ffffff;
        }

        .head {
          width: 100%;
          margin: 0;
          background-color: #CCCCCC;
        }




      </style>
      <div id="options-wrapper">
        <core-toolbar class="tall">
          <div class="head">
            <span flex>Options</span>
            <core-icon-button class="pull-right" icon="close"></core-icon-button>
          </div>
          <br/>
          <div>

          </div>

          <div class="bottom">
            <core-icon-button icon="delete">
              <span>Delete</span>
            </core-icon-button>
            <core-icon-button icon="close">Close</core-icon-button>
            <core-icon-button icon="save">Save</core-icon-button>
          </div>
        </core-toolbar>
      </div>
    </core-overlay>


    <paper-dialog id="subscriptionOptions" heading='Subscription - /{{topic}}' transition="paper-dialog-transition-center" backdrop>
      <style>
      body {
        background-color: #f9f9f9;
        font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
      }


      /* FAB */
      .fab {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        color: #fff;
        overflow: hidden;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0.2s;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      }

      .redbutton:hover {
        background-color: #d23f31;
      }

      .fab.blue {
        background-color: #4285f4;
      }

      .greenbutton:hover {
        background-color: #0f9d58;
      }

      .fab:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        transition-delay: 0s;
      }


        .menu-buttons {
          position: absolute;
          top: -24px!important;
          right: -24px!important;
          left: auto!important;
        }

      :host /deep/ #icon {
                     margin: 12px;
                   }
      </style>
      <hr/>
      <div>
        <span><strong>Topic:</strong></span>
        <span class="badge">{{topic}}</span>
      </div>


      <div>
        <span><strong>Quality of Service:</strong></span>

        <style>
          core-tooltip:focus {
            outline: none;
          }

          .item.core-selected span {
            background: lightgreen;
          }
          .item.core-selected {
            background: lightgreen;
          }
          .item {
            padding: 8px;
            background: #eee;
            border: 1px 0px 1px 0px solid #222222;

          }
          .item:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            /*border-right: solid #222222;*/
          }
          .item:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            /*border-left: solid #222222;*/
          }
        </style>



        <core-selector selected="{{options_shadow.qos}}" itemsSelector="span[data-item]">
          <core-tooltip class="item" label="At most once"  position="top">
            <span data-item label="0">0</span>
          </core-tooltip>

          <core-tooltip class="item" label="At least once"  position="top">
          <span data-item label="1">1</span>
            </core-tooltip>

          <core-tooltip class="item" label="Exactly once" position="top">
            <span data-item label="2">2</span>
          </core-tooltip>

        </core-selector>
      </div>

      <hr/>

      <div><span><strong>MessageID:</strong></span>

      <span>{{options.messageId}}</span>


      </div>

      <paper-button class="redbutton" label="Delete" icon="delete" raisedbutton on-click="{{deleteSub}}" dismissive>
      </paper-button>

      <paper-button class="greenbutton" label="Save" icon="save" on-click="{{saveSub}}" affirmative autofocus raisedbutton></paper-button>


      <paper-fab icon="close" class="menu-buttons blue fab" dismissive ></paper-fab>


      </paper-ripple>
    </paper-dialog>



  </template>



  <script>
    Polymer('mqtt-subscription', {

      /**
       * Extra options that control affect the subscription
       */
      options: {
        qos: 0,
        messageId: null
      },

      options_shadow: {},

      /**
       *
       */
      topicID: '',

      topic : '',



      observe: {
        'options.qos': 'qosChanged',
        'options_shadow.qos' : 'qosChanged'
      },

      created: function () {
        console.debug("created:");
        console.debug(this);

        this.message = { ID: 1 };
        this.messages = [];
        // todo change
//        this.connectionID = "1";
        this.sumUnRead = 0;
        this.isOpen = false;
        this.removeDialog = false;

        this.options_shadow = {qos: this.options.qos, messageId: this.options.messageId};
      },

      ready: function () {
        console.debug("ready");
      },

      domReady: function () {
      },

      handelopen: function (event, detail, sender) {
        // this will toggle the collapse at data-target

        sender.templateInstance.model.$.messages.toggle();
//        this.$[sender.attributes['data-target'].value].toggle()
        this.sumUnRead = 0;
        this.isOpen = !this.isOpen;
      },

      addMessage: function (message) {
        console.debug("addMessage: %s", JSON.stringify(message));
        this.messages.push(message);
        if (!this.isOpen){
          this.sumUnRead++;
        }

      },
      settings: function () {
        this.$.subscriptionOptions.toggle();
      },

      pause: function () {
        console.log("pause")
        this.fire('pause', {topic: this.topic, connectionID: this.connectionID, source: this});
      },

      qosChanged: function () {
        console.log("qosChanged: %s", this.options.qos);
        console.log("OldQos: %s", this.options_shadow.qos);
      },

      deleteSub: function () {
        console.log("deleteSub");
        this.fire('unsubscribe', {topic: this.topic, connectionID: this.connectionID, source: this});
      },

      saveSub: function () {
        console.log("saveSub");
        //this.fire('changeSub', {topic: this.topic, connectionID: this.connectionID, source: this});
      },

      removeFromDOM: function () {
        console.log("removeFromDOM");
        console.log(this.$.subscriptionOptions.opened);
//        this.tmp = this.$.subscriptionOptions;

//        this.tmp.$.overlay.completeBackdrop();
//        console.log(this.tmp);
//        this.tmp.remove();

//        while (this.$.subscriptionOptions.opened) {
//
//        }

        var backdrop = this.$.subscriptionOptions.$.overlay.scrim;

        // the backdrop exists if the settings were opened first
        if (backdrop && backdrop.parentNode) {
          backdrop.parentNode.removeChild(backdrop);
        }

        this.parentNode.removeChild(this);
      },


      hendelUnsubscribe: function () {

//        this.fire('unsubscribe', {topic: this.topic, connectionID: this.connectionID, source: this});
        console.log("hendelUnsubscribe");
      },

      moment: function (value) {
        return moment(value).calendar();
//        return moment(value).format('MMMM Do YYYY, h:mm:ss a');
      }

    });


  </script>

</polymer-element>
