<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>x-demo demo</title>
  <script src="../../bower_components/platform/platform.js"></script>
  <link rel="import" href="mqtt-message-detail-ui.html">
  <style>

  </style>
</head>
<body fullbleed unresolved>



<!--element definition-->
<polymer-element name="x-demo" condstructor="XDemo">
  <template>
    <style>
    </style>
    <button on-click="{{open}}">open</button>

    <mqtt-message-detail-ui id="ui" message="{{message}}">
    </mqtt-message-detail-ui>
  </template>
  <script>
    Polymer("x-demo", {



      created: function () {
        console.log("%s Created ", this.element.name);

      },
      ready: function () {
        console.log("%s ready", this.element.name);
        this.message = {
          "connectionName" : "mqtt.eclipse.org",
          "cmd":"publish",
          "retain":false,
          "qos":0,
          "dup":false,
          "length":236,
          "topic":"test",
          "payload":
            {"id":"387",
              "name":"greenhouse",
              "description":"The sensorbox of the greenhouse on my terrace",
              "datastreams":[
                {"id":"9347",
                  "name":"temperature",
                  "description":"Temperature"},
                {"id":"9348","name":"Humidity","description":"Humidity"}
              ]},
          "timestamp":1407401298587,
          "type":"json"}

      },

      attached: function () {
        console.log("%s attached", this.element.name);
      },

      domReady: function() {
        console.log("%s domReady", this.element.name);
      },

      detached: function() {
        console.log("%s detached", this.element.name);
      },

      attributeChanged: function(attrName, oldVal, newVal) {
        //var newVal = this.getAttribute(attrName);
        console.log(attrName, 'old: ' + oldVal, 'new:', newVal);

      },

      open: function () {
        this.$.ui.toggle();
      }
    });
  </script>
</polymer-element>


<x-demo></x-demo>


</body>
</html>