<link rel="import" href="../../bower_components/polymer/polymer.html"/>


<link rel="import" href="../../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../../bower_components/core-menu/core-menu.html">
<link rel="import" href="../../bower_components/core-item/core-item.html">
<link rel="import" href="../../bower_components/polymer/layout.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../bower_components/core-tooltip/core-tooltip.html">


<!-- _underscore -->
<script src="../../bower_components/underscore/underscore.js"></script>
<!--tinyscrollbar-->
<!--<script type="text/javascript" src="tinyscrollbar/tinyscrollbar.js"></script>-->



<link rel="import" href="../../bower_components/changeover-icon/changeover-icon.html">


<!--remove all stylesheets below just to have auto complete -->
<link rel="stylesheet" href="../../css/build/layout.css"/>



<polymer-element name="mqtt-new-subscription-ui" attributes="open" constructor="MqttNewSubscriptionUi">
<!-- outermost template defines the element's shadow DOM -->
<template>
<link rel="stylesheet" href="../../css/build/layout.css"/>
<link rel="stylesheet" href="custom.css"/>

<core-media-query query="{{narrowQuery}}" queryMatches="{{narrow}}"></core-media-query>

<core-overlay id="overlay" target="{{$.wrapper}}" backdrop opened autoCloseDisabled>
</core-overlay>

<div id="wrapper" class="{{{ narrow : narrow } | tokenList }}">
<div class="modal-header">
  <button type="button" class="close" on-click="{{close}}">&times;</button>
  <h2 class="modal-title" id="newConnectionLabel">Add a new Connection</h2>
</div>
<div class="modal-body">
<div class="connection-wrapper">
<!--Connection Details-->
<div>
  <div class="page-header">
    <h4>Connection Details</h4>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="connectionName">Connection name</label>
        <input class="form-control"
               id="connectionName"
               placeholder="Eclipse MQTT"
               value="{{connectionName}}" >
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="connectionColor">Connection color scheme</label>
        <input type="color" id="connectionColor" class="form-control"
               value="{{connectionColor}}" size="7">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">

      <!--TODO(sandro-k) add tooltip -->
      <div class="form-group">
        <label for="hostnameInput">Hostname</label>
        <input class="form-control"
               data-toggle="tooltip"
               id="hostnameInput"
               value="{{hostname}}"
               placeholder="e.g. iot.eclipse.org" title=""
               data-original-title="Use any MQTT broker.">
      </div>


    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="portInput">Port</label>
        <input
            class="form-control"
            id="portInput"
            placeholder="Enter port number"
            value="{{hostPort}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7 col-sm-8">
      <div class="form-group">
        <label for="clientIdInput">Client ID</label>
        <input class="form-control"
               data-toggle="tooltip"
               id="clientIdInput"
               value="{{clientId}}"
               placeholder="Enter client ID"
               maxlength="23"
               data-original-title="MQTT client ID. 1-23 characters long.">
      </div>
    </div>
    <div class="col-xs-5 col-sm-4">
      <div class="btn btn-primary"
           id="generateRandomId"
           on-click="{{randomID}}"><span class="visible-xs">Generate ID</span><span class="hidden-xs">Generate a random ID</span></div>
    </div>
  </div>
</div>



</div>
</div>




<!-- Modal -->
<div class="modal" id="addSubscription{{id}}" data-id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="addSubscriptionLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="addSubscriptionLabel">Add new subscription to {{name}}</h2>
      </div>
      <div class="modal-body">
        <div class="general-wrapper">
          <div class="row general-had">
            <div class="col-sm-12">
              <h3>
                General
              </h3>
            </div>
          </div>
          <div class="general-body">
            <div class="row">
              <div class="col-sm-12">
                <form role="form">
                  <div class="form-group">
                    <label for="subscribeTopic">
                      <h4>Subscribe to Topic</h4>
                    </label>
                    <input type="topic" class="form-control" id="subscribeTopic"
                           placeholder="Topic">
                  </div>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-9">
                <h4>Request Quality of Serrvice (QoS)</h4>
              </div>
              <div class="col-sm-3">
                <div class="btn-group pull-right">
                  <!--at most once-->
                  <button type="button" class="btn btn-default active" data-toggle="tooltip"
                          data-placement="top" title="at most once">1
                  </button>
                  <!--at least once-->
                  <button type="button" class="btn btn-default" data-toggle="tooltip"
                          data-placement="top" title="at least once">2
                  </button>
                  <!--exactly once-->
                  <button type="button" class="btn btn-default" data-toggle="tooltip"
                          data-placement="top" title="exactly once">3
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="advanced-wrapper">
          <div class="row advanced">
            <div class="col-sm-12">
              <h3>Advanced
                <small>- limit expected values of a certain topic</small>
                                <span data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                      class="glyphicon glyphicon-chevron-down pull-right right-spacing"></span></h3>
            </div>
          </div>
          <div id="collapseOne" class="advanced-body collapse">
            <div class="row">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label"><h4>Condition</h4></label>

                  <div class="col-sm-8">
                    <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
                    <select class="form-control" id="inputEmail3">
                      <optgroup label="General">
                        <option>
                          Payload is element of list
                        </option>
                        <option>
                          Payload is in Range
                        </option>
                        <option value="">
                          Payload is of type
                        </option>
                        <option value="">
                          Expecting #n messages in a certain time frame
                        </option>
                      </optgroup>
                      <optgroup label="Custom">
                        <option value="">
                          Custom filter 1
                        </option>
                        <option value="">
                          Custom filter 2
                        </option>
                      </optgroup>


                    </select>
                  </div>
                  <button type="button" class="col-sm-1 btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save-button" id="addSubscription">Add subscription</button>
      </div>
    </div>
  </div>
</div>

<footer layout horizontal>


  <paper-button class="redbutton" label="Cancel" icon="delete" raisedbutton on-click="{{close}}">
  </paper-button>


  <div flex>
    <!--just a spacer-->
  </div>

  <paper-button class="greenbutton" label="Create connection" icon="save" on-click="{{save}}" affirmative autofocus
                raisedbutton></paper-button>

</footer>
</div>



</template>


<script>
Polymer('mqtt-new-subscription-ui', {


  publish: {
    /**
     * A ID to identify the connection
     * @attribute connectionID
     * @type string
     * @default ''
     */
    connectionID: '',

    /**
     * A human readable name for the connection
     * @attribute connectionName
     * @type string
     * @default ''
     */
    connectionName: '',

    /**
     * The base color for the connection
     * @attribute connectionColor
     * @type string (hex)
     * @default '#ff7d69'
     */
    connectionColor: '#ff7d69',


    /**
     * The brokers hostname or ip-address
     * @attribute host
     * @type string
     * @default ''
     */
    hostname: '',

    /**
     * The port the connection is made with
     * @attibute hostPort
     * @type integer
     * @default 1883
     */
    hostPort: 1883,

    /**
     * A unique client ID to identify the client at the broker
     * @attribute clientId
     * @type string
     * @default ''
     */
    clientId: '',


    /**
     * Start a clean session
     * @attribute cleanSession
     * @type boolean
     * @default true
     */
    cleanSession: true,

    /**
     * Use SSL for to encrypt the connection
     * @attrubute useSSL
     * @type boolean
     * @default false
     */
    useSSL: false,

    /**
     * Seconds that the connection is kept alive in seconds
     * @attribute keepAlive
     * @type integer
     * @default 120
     */
    keepAlive: 120,


    /**
     * The username that is user to authenticate the connection with
     * @attribute username
     * @type string
     * @default ''
     */
    username: '',

    /**
     * The password that is used to authenticate the user with
     * @attribute password
     * @type string
     * @default ''
     */
    password: '',

    /**
     *
     *
     */
    passwordHashFunction: true,

    /**
     * The topic the last will will be published at
     * @attribute lastWillTopic
     * @type string
     * @default ''
     */
    lastWillTopic: '',

    /**
     * The last will message that will be published at `lastWillTopic`
     * @attribute lastWillMessage
     * @type  string
     * @default ''
     */
    lastWillMessage: '',

    /**
     * The QoS the last will will be published with
     * @attribute lastWillQoS
     * @type integer (0|1|2)
     * @default 0
     */
    lastWillQoS: 0,


    /**
     * @attribute lastWillRetained
     * @type boolean
     * @default false
     */
    lastWillRetained: false,


    /**
     * @attribute autoConnect
     * @type boolean
     * @default false
     */
    autoConnect: false,

    /**
     * The host object that will create the MQTT connection
     * @attribute host
     * @type object
     * @default {}
     */
    host: {},


    /**
     *
     */
    narrowQuery: 'max-width: 680px',

  },

  /**
   * #############
   * Live cycle
   * #############
   */
  created: function () {
    console.debug("created");
  },
  ready: function () {
    console.debug("ready");
  },
  attached: function () {
    console.debug("attached");
  },
  domReady: function () {
    console.debug("domReady");
  },
  detached: function () {
    console.debug("detached");
  },


  /**
   * #############
   * Element functions
   * #############
   */

  toggle: function () {
    this.$.overlay.toggle();
  },

  /**
   * Loads properties
   * @param values
   */
  load: function (values) {
    console.log(JSON.stringify(values));
    for (var property in this.publish) {
      if (values[property]) {
        this[property] = values[property];
      }
    }
  },

  close: function (){
    this.$.overlay.toggle();
    this.asyncFire('cancelNewMqttConnection');
  },

  /**
   * Fires a `newMqttConnection` event
   */
  save: function () {
    console.debug("%s", "save");
    var values = {};
    for (var property in this.publish) {
      values[property]  = this[property];
//          console.log("%s: %s",property, this[property]);
    }
//        console.log(JSON.stringify(values));

    this.asyncFire('newMqttConnection', values);
    this.$.overlay.toggle();
  },

  /**
   * #############
   * Helper functions
   * #############
   */


});
</script>
</polymer-element>


